
application/config/database.php
application/config/purchase_key.php
password.txt
application/config/config.php
# optional:
application/logs/
application/cache/
uploads/db_backup/
uploads/documents/
#extra
.DS_Store
*.log

